name: Briar-Android

on:
  push:
    paths:
      - ".github/workflows/Briar-Android.yml"

env:
  VERSION: release-1.5.14

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - name: Official
      #   run: |
      #     curl -L "${{ env.OFFICIAL_APK }}" -o Threema.apk
      #     echo "$OFFICIAL_SHA256  Threema.apk" | sha256sum -c -
      - name: Dockerfile
        run: |
          git clone https://code.briarproject.org/briar/briar-reproducer.git --depth 1
          cd briar-reproducer
          docker build -t briar/reproducer briar-reproducer
      - name: Build
        run: |
          apt install fuse
          docker run --cap-add SYS_ADMIN --device /dev/fuse briar/reproducer:latest ./reproduce.py ${{ env.VERSION }}
