name: Briar-Android

on:
  push:
    paths:
      - ".github/workflows/Briar-Android.yml"

env:
  VERSION: release-1.5.15

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Dockerfile
        run: |
          sudo apt update && sudo apt install -y fuse
          git clone https://github.com/BarbossHack/briar-reproducer -b barboss-hack-update-reproducer --depth 1
          docker build -t briar/reproducer briar-reproducer
      - name: Reproducible
        run: |
          sudo docker run --cap-add SYS_ADMIN --device /dev/fuse --name reproducer briar/reproducer:latest ./reproduce.py briar ${{ env.VERSION }}
          docker cp reproducer:/opt/briar-reproducer/briar/briar-android/build/outputs/apk/official/release/briar-android-official-release-unsigned.apk build.apk
          docker cp reproducer:/opt/briar-reproducer/briar-$(echo ${{ env.VERSION }} | cut -d- -f2).apk official.apk
      - name: Signal Apkdiff
        run: |
          pip install uv
          git clone https://github.com/signalapp/Signal-Android --depth 1
          cd Signal-Android/reproducible-builds/apkdiff
          uv sync
          zip -d official.apk "META-INF/*"
          zip -d build.apk "META-INF/*"
          uv run apkdiff.py official.apk build.apk
