name: Signal-Desktop

on:
  push:
    paths:
      - ".github/workflows/Signal-Desktop.yml"

env:
  VERSION: 7.83.0-beta.1

jobs:
  official:
    runs-on: ubuntu-latest
    steps:
      - name: Install Signal repos
        run: |
          wget -O- https://updates.signal.org/desktop/apt/keys.asc | gpg --dearmor > signal-desktop-keyring.gpg;
          cat signal-desktop-keyring.gpg | sudo tee /usr/share/keyrings/signal-desktop-keyring.gpg > /dev/null
          wget -O signal-desktop.sources https://updates.signal.org/static/desktop/apt/signal-desktop.sources;
          cat signal-desktop.sources | sudo tee /etc/apt/sources.list.d/signal-desktop.sources > /dev/null
          sudo apt-get update
      - name: Download official .deb
        id: hash
        run: |
          PARSED_VERSION=$(echo "${{ env.VERSION }}" | grep -oE '[0-9]+\.[0-9]+\.[0-9]+.*' | tr '-' '~')
          if [[ "$PARSED_VERSION" == *"beta"* ]]; then
            apt-get download signal-desktop-beta=$PARSED_VERSION
            mv signal-desktop-beta_${PARSED_VERSION}_amd64.deb signal-desktop_${{ env.VERSION }}_amd64.deb 
          else
            apt-get download signal-desktop=${{ env.VERSION }}
          fi
          echo "HASH=$(sha256sum signal-desktop_${{ env.VERSION }}_amd64.deb | awk '{print $1}')" >> $GITHUB_OUTPUT
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: signal-desktop_${{ env.VERSION }}_official
          path: signal-desktop_${{ env.VERSION }}_amd64.deb
          retention-days: 3
    outputs:
      HASH: ${{ steps.hash.outputs.HASH }}

  build:
    runs-on: ubuntu-latest
    needs: [official]
    steps:
      - name: Build
        id: hash
        run: |
          git clone https://github.com/signalapp/Signal-Desktop -b v${{ env.VERSION }} --depth 1
          cd Signal-Desktop/reproducible-builds
          chmod +x build.sh
          ./build.sh public
          mv ../release/signal-desktop*_${{ env.VERSION }}_amd64.deb ../release/signal-desktop_${{ env.VERSION }}_amd64.deb || true
          echo "HASH=$(sha256sum ../release/signal-desktop_${{ env.VERSION }}_amd64.deb | awk '{print $1}')" >> $GITHUB_OUTPUT
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: signal-desktop_${{ env.VERSION }}_build
          path: Signal-Desktop/release/signal-desktop_${{ env.VERSION }}_amd64.deb
          retention-days: 3
    outputs:
      HASH: ${{ steps.hash.outputs.HASH }}

  check:
    runs-on: ubuntu-latest
    needs: [build, official]
    steps:
      - name: Check hashes
        run: |
          BUILD_HASH=${{ needs.build.outputs.HASH }}
          OFFICIAL_HASH=${{ needs.official.outputs.HASH }}
          echo "Build hash: $BUILD_HASH"
          echo "Official hash: $OFFICIAL_HASH"
          if [ -z "$BUILD_HASH" ] || [ -z "$OFFICIAL_HASH" ]; then
            echo "One of the hashes is empty!"
            exit 1
          fi
          if [ "$BUILD_HASH" = "$OFFICIAL_HASH" ]; then
            echo "Hashes match!"
          else
            echo "Hashes do not match!"
            exit 1
          fi

  diff:
    needs: check
    if: ${{ always() && needs.check.result == 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download official artifact
        uses: actions/download-artifact@v6
        with:
          name: signal-desktop_${{ env.VERSION }}_official
          path: official
      - name: Download build artifact
        uses: actions/download-artifact@v6
        with:
          name: signal-desktop_${{ env.VERSION }}_build
          path: build
      - name: Prepare for diff
        run: |
          sudo npm install -g asar

          dpkg-deb -R official/signal-desktop_${{ env.VERSION }}_amd64.deb official_deb
          dpkg-deb -R build/signal-desktop_${{ env.VERSION }}_amd64.deb build_deb

          dpkg-deb --contents official/signal-desktop_${{ env.VERSION }}_amd64.deb > official_deb_contents.txt
          dpkg-deb --contents build/signal-desktop_${{ env.VERSION }}_amd64.deb > build_deb_contents.txt

          find official_deb -name *.asar -exec asar extract {} official_asar \;
          find build_deb -name *.asar -exec asar extract {} build_asar \;
      - name: Diff recursive deb files
        continue-on-error: true
        run: |
          diff -rq official_deb build_deb
      - name: Diff recursive deb files content
        continue-on-error: true
        run: |
          diff -r -y --suppress-common-lines --color=always official_deb build_deb
      - name: Diff dpkg-content files listing
        continue-on-error: true
        run: |
          diff official_deb_contents.txt build_deb_contents.txt
      - name: Diff recursive asar files
        continue-on-error: true
        run: |
          diff -rq official_asar build_asar
      - name: Diff recursive asar files content
        continue-on-error: true
        run: |
          diff -r -y --suppress-common-lines --color=always official_asar build_asar
      - name: Diffoscope
        continue-on-error: true
        run: |
          docker run --rm -w $(pwd) -v $(pwd):$(pwd) registry.salsa.debian.org/reproducible-builds/diffoscope --no-progress --exclude-command objdump --exclude-command readelf --exclude-command strings --exclude-command zipdetails --exclude-command xxd build/signal-desktop_${{ env.VERSION }}_amd64.deb official/signal-desktop_${{ env.VERSION }}_amd64.deb

  libsignal:
    needs: [official]
    runs-on: ubuntu-latest
    steps:
      - name: Get libsignal version
        run: |
          LIBSIGNAL_VERSION=$(curl -s "https://raw.githubusercontent.com/signalapp/Signal-Desktop/refs/tags/v${{ env.VERSION }}/package.json" | grep "@signalapp/libsignal-client\": \"[0-9\.]*\"" | cut -d: -f2 | tr -d , | xargs)
          echo "LIBSIGNAL_VERSION=$LIBSIGNAL_VERSION" >> $GITHUB_ENV
      - name: Official
        run: |
          npm pack @signalapp/libsignal-client@${{ env.LIBSIGNAL_VERSION }}
          mkdir official
          tar xvzf signalapp-libsignal-client-${{ env.LIBSIGNAL_VERSION }}.tgz -C official
      - name: Build
        run: |
          git clone https://github.com/signalapp/libsignal -b v${{ env.LIBSIGNAL_VERSION }} --depth 1
          pushd libsignal
          cat >>node/docker-prebuildify.sh <<'EOF'
          docker run ${IS_TTY:+ -it} --init --rm -v "${PWD}":/home/libsignal/src ${DOCKER_IMAGE} sh -c '
              cd ~/src/node &&
              npm ci &&
              npm run tsc &&
              npm run lint &&
              npm run format -c &&
              npm pack
          '
          EOF
          bash node/docker-prebuildify.sh
          popd
          mkdir build
          tar xvzf libsignal/node/signalapp-libsignal-client-${{ env.LIBSIGNAL_VERSION }}.tgz -C build
      - name: Hashes
        run: |
          sha256sum "./libsignal/node/prebuilds/linux-arm64/@signalapp+libsignal-client.node" "./libsignal/node/prebuilds/linux-x64/@signalapp+libsignal-client.node"
          sha256sum "./official/package/prebuilds/linux-arm64/@signalapp+libsignal-client.node" "./official/package/prebuilds/linux-x64/@signalapp+libsignal-client.node"
      - name: Diff
        run: |
          diff "./libsignal/node/prebuilds/linux-arm64/@signalapp+libsignal-client.node" "./official/package/prebuilds/linux-arm64/@signalapp+libsignal-client.node"
          diff "./libsignal/node/prebuilds/linux-x64/@signalapp+libsignal-client.node" "./official/package/prebuilds/linux-x64/@signalapp+libsignal-client.node"
      - name: Diffoscope
        run: |
          rm -rf ./official/package/prebuilds/{darwin-arm64,darwin-x64,win32-arm64,win32-x64}

          find ./official -exec touch -a -m -t "202401011200" {} +
          find ./build -exec touch -a -m -t "202401011200" {} +

          docker run --rm -w $(pwd) -v $(pwd):$(pwd) registry.salsa.debian.org/reproducible-builds/diffoscope --no-progress --exclude-command objdump --exclude-command readelf --exclude-command strings --exclude-command zipdetails --exclude-command xxd "./build/" "./official/"
