name: SimpleX-Desktop

on:
  push:
    paths:
      - ".github/workflows/SimpleX-Desktop.yml"

env:
  VERSION: 6.4.6

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: df -h
      - run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune -a -f
          sudo docker builder prune -a -f
          sudo docker system prune -a -f
      - run: sudo du -sh /opt/hostedtoolcache/* || true
      - run: sudo du -sh /opt/microsoft/* || true
      - run: sudo du -sh /opt/pipx/* || true
      - run: sudo du -sh /usr/bin/* || true
      - run: sudo du -sh /usr/lib/* || true
      - run: sudo du -sh /usr/local/* || true
      - run: sudo du -sh /usr/share/* || true
      - run: sudo du -sh /usr/share/* || true
      # - name: Maximize build disk space
      #   uses: easimon/maximize-build-space@v10
      #   with:
      #     root-reserve-mb: 512
      #     swap-size-mb: 1024
      #     remove-dotnet: "true"
      #     remove-android: "true"
      #     remove-haskell: "true"
      #     remove-codeql: "true"
      #     remove-docker-images: "true"
      - run: df -h
      - uses: actions/checkout@v4
      - name: Build
        continue-on-error: true
        run: |
          # sudo mount /dev/sda1 /tmp
          # sudo chown -R $USER:$USER /tmp
          exit 9
          # chmod 755 .github/simplex-chat-reproduce-builds.sh
          # .github/simplex-chat-reproduce-builds.sh "v${{ env.VERSION }}" || true
      # curl -LO "https://raw.githubusercontent.com/simplex-chat/simplex-chat/refs/tags/v${{ env.VERSION }}/scripts/simplex-chat-reproduce-builds.sh"
      # chmod +x simplex-chat-reproduce-builds.sh
      # ./simplex-chat-reproduce-builds.sh "v${{ env.VERSION }}" || true
      # find /tmp -type d -wholename "*/multiplatform/desktop" -exec mv "{}" artifacts \;
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: v${{ env.VERSION }}-simplex-chat
      #     path: ./v${{ env.VERSION }}-simplex-chat/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: /tmp/logs

  check:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: v${{ env.VERSION }}-simplex-chat

      - name: Check hashes
        run: |
          if [ -f "v${{ env.VERSION }}-simplex-chat/_sha256sums" ]; then
            echo "Reproducible"
            exit 0
          else
            echo "Not reproducible"
            exit 1
          fi

  diff:
    needs: check
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: v${{ env.VERSION }}-simplex-chat
      - name: Install dependencies
        run: sudo apt-get install -y binutils
      - name: Print hashes
        run: |
          echo "sha256 from-source"
          sha256sum ./v${{ env.VERSION }}-simplex-chat/from-source/*
          echo "sha256 prebuilt"
          sha256sum ./v${{ env.VERSION }}-simplex-chat/prebuilt/*
      - name: .comment section diff
        run: |
          readelf --wide --decompress --string-dump=.comment ./v${{ env.VERSION }}-simplex-chat/from-source/smp-server-ubuntu-24_04-x86-64 > comment_source || true
          readelf --wide --decompress --string-dump=.comment ./v${{ env.VERSION }}-simplex-chat/prebuilt/smp-server-ubuntu-24_04-x86-64 > comment_prebuilt || true
          diff -u comment_source comment_prebuilt || true
      - name: full readelf diff
        run: |
          readelf -a ./v${{ env.VERSION }}-simplex-chat/from-source/smp-server-ubuntu-24_04-x86-64 > readelf_source || true
          readelf -a ./v${{ env.VERSION }}-simplexmq/prebuilt/smp-server-ubuntu-24_04-x86-64 > readelf_prebuilt || true
          diff -u readelf_source readelf_prebuilt || true
