name: SimpleX-Desktop

on:
  push:
    paths:
      - ".github/workflows/SimpleX-Desktop.yml"

env:
  VERSION: 6.4.6

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free up disk space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache /opt/microsoft /opt/pipx /usr/local/julia* /usr/lib/jvm /usr/lib/google-cloud-sdk /usr/lib/llvm* /usr/lib/firefox /usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/gradle* /usr/lib/python* /usr/local/share/powershell /usr/local/share/chromium /usr/local/share/vcpkg
          df -h
      - uses: actions/checkout@v4
      - name: Build
        run: |
          curl -LO "https://raw.githubusercontent.com/simplex-chat/simplex-chat/refs/tags/v${{ env.VERSION }}/scripts/simplex-chat-reproduce-builds.sh"
          chmod +x simplex-chat-reproduce-builds.sh
          ./simplex-chat-reproduce-builds.sh "v${{ env.VERSION }}"
          ls -Rlsah
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: ./v${{ env.VERSION }}-simplex-chat/

  check:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: v${{ env.VERSION }}-simplex-chat

      - name: Check hashes
        run: |
          if [ -f "v${{ env.VERSION }}-simplex-chat/_sha256sums" ]; then
            echo "Reproducible"
            exit 0
          else
            echo "Not reproducible"
            exit 1
          fi
