name: SimpleX-Desktop

on:
  push:
    paths:
      - ".github/workflows/SimpleX-Desktop.yml"

env:
  VERSION: 6.4.6

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        continue-on-error: true
        run: |
          df -h
          lsblk
          echo ##############################################
          sudo mount /dev/sda1 /tmp
          df -h
          lsblk
          sudo ls -RlsahZ /tmp || true
          ls -RlsahZ .
          sudo cat /tmp/DATALOSS_WARNING_README.txt || true
          echo ##############################################
          sudo chown -R $USER:$USER /tmp
          sudo ls -RlsahZ /tmp || true
          echo ##############################################
          chmod 755 .github/simplex-chat-reproduce-builds.sh
          .github/simplex-chat-reproduce-builds.sh "v${{ env.VERSION }}" || true
      # curl -LO "https://raw.githubusercontent.com/simplex-chat/simplex-chat/refs/tags/v${{ env.VERSION }}/scripts/simplex-chat-reproduce-builds.sh"
      # chmod +x simplex-chat-reproduce-builds.sh
      # ./simplex-chat-reproduce-builds.sh "v${{ env.VERSION }}" || true
      # find /tmp -type d -wholename "*/multiplatform/desktop" -exec mv "{}" artifacts \;
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: v${{ env.VERSION }}-simplex-chat
      #     path: ./v${{ env.VERSION }}-simplex-chat/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: /tmp/logs

  check:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: v${{ env.VERSION }}-simplex-chat

      - name: Check hashes
        run: |
          if [ -f "v${{ env.VERSION }}-simplex-chat/_sha256sums" ]; then
            echo "Reproducible"
            exit 0
          else
            echo "Not reproducible"
            exit 1
          fi

  diff:
    needs: check
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: v${{ env.VERSION }}-simplex-chat
          path: v${{ env.VERSION }}-simplex-chat
      - name: Install dependencies
        run: sudo apt-get install -y binutils
      - name: Print hashes
        run: |
          echo "sha256 from-source"
          sha256sum ./v${{ env.VERSION }}-simplex-chat/from-source/*
          echo "sha256 prebuilt"
          sha256sum ./v${{ env.VERSION }}-simplex-chat/prebuilt/*
      - name: .comment section diff
        run: |
          readelf --wide --decompress --string-dump=.comment ./v${{ env.VERSION }}-simplex-chat/from-source/smp-server-ubuntu-24_04-x86-64 > comment_source || true
          readelf --wide --decompress --string-dump=.comment ./v${{ env.VERSION }}-simplex-chat/prebuilt/smp-server-ubuntu-24_04-x86-64 > comment_prebuilt || true
          diff -u comment_source comment_prebuilt || true
      - name: full readelf diff
        run: |
          readelf -a ./v${{ env.VERSION }}-simplex-chat/from-source/smp-server-ubuntu-24_04-x86-64 > readelf_source || true
          readelf -a ./v${{ env.VERSION }}-simplexmq/prebuilt/smp-server-ubuntu-24_04-x86-64 > readelf_prebuilt || true
          diff -u readelf_source readelf_prebuilt || true
