name: Telegram-Android

on:
  push:
    paths:
      - ".github/workflows/Telegram-Android.yml"

env:
  COMMIT: 5390162ec364d8d62cf483f6273227eefe0ef015
  # https://t.me/s/TAndroidAPK
  OFFICIAL_APK: https://filebin.net/kmvesnm1xeaolts9/Telegram.apk.filebin
  OFFICIAL_SHA256: 5ce1057f0a7f6bc0e14597697a426a9a9fa8b0e4667dc78b3fbe510a21ca6b3a

jobs:
  official:
    runs-on: ubuntu-latest
    steps:
      - name: Download
        run: |
          curl -L "${{ env.OFFICIAL_APK }}" -o Telegram.apk
          echo "$OFFICIAL_SHA256  Telegram.apk" | sha256sum -c -
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Telegram.apk
          path: Telegram.apk
          retention-days: 3

  build:
    runs-on: ubuntu-latest
    needs: [official]
    steps:
      - name: Free up disk space
        uses: BarbossHack/reproducible/.github/actions/free-up-github-action@master
      - name: Clone
        run: |
          git clone https://github.com/DrKLO/Telegram
          cd Telegram
          git checkout ${{ env.COMMIT }}
      - name: Dockerfile
        run: |
          cd Telegram
          docker build -t telegram-build .
      - name: Build
        run: |
          cd Telegram
          docker run --rm -v "$PWD":/home/gradle:Z -w /home/gradle telegram-build gradle :TMessagesProj_AppStandalone:assembleAfatStandalone
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Telegram-${{ env.COMMIT }}.apk
          path: ./Telegram/TMessagesProj_AppStandalone/build/outputs/apk/afat/standalone/app.apk
          retention-days: 3

  diff:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Telegram.apk
          path: official
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Telegram-${{ env.COMMIT }}.apk
          path: build
      - name: apkdiff
        run: |
          curl https://raw.githubusercontent.com/DrKLO/Telegram/refs/heads/master/apkdiff.py -o apkdiff.py
          # see https://github.com/DrKLO/Telegram/pull/1899
          sed -i 's|"META-INF/CERT.SF"]|"META-INF/CERT.SF", "META-INF/version-control-info.textproto"]|g' apkdiff.py
          output=$(python apkdiff.py ./official/Telegram.apk ./build/app.apk)
          echo "$output"
          echo "$output" | grep -F "APKs are the same"
