name: Telegram-Android

on:
  push:
    paths:
      - ".github/workflows/Telegram-Android.yml"

env:
  COMMIT: 20ed157cf63a8fe3d6f90a5c78cf3f3a079396fa
  # https://t.me/s/TAndroidAPK
  OFFICIAL_APK: https://filebin.net/h2tch03x6ctb3pqi/Telegram.apk.filebin
  OFFICIAL_SHA256: 3aacc479283fffd3b7c6ef6633011632f9837667713c2aed77b13c6c043cba7d

jobs:
  official:
    runs-on: ubuntu-latest
    steps:
      - name: Download
        run: |
          curl -L "${{ env.OFFICIAL_APK }}" -o Telegram.apk
          echo "$OFFICIAL_SHA256  Telegram.apk" | sha256sum -c -
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Telegram.apk
          path: Telegram.apk
          retention-days: 3

  build:
    runs-on: ubuntu-latest
    needs: [official]
    steps:
      - name: Free up disk space
        uses: BarbossHack/reproducible/.github/actions/free-up-github-action@master
      - name: Clone
        run: |
          git clone https://github.com/DrKLO/Telegram
          cd Telegram
          git checkout ${{ env.COMMIT }}
      - name: Dockerfile
        run: |
          cd Telegram
          docker build -t telegram-build .
      - name: Build
        run: |
          cd Telegram
          docker run --rm -v "$PWD":/home/gradle:Z -w /home/gradle telegram-build gradle :TMessagesProj_AppStandalone:assembleAfatStandalone
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Telegram-${{ env.COMMIT }}.apk
          path: ./Telegram/TMessagesProj_AppStandalone/build/outputs/apk/afat/standalone/app.apk
          retention-days: 3

  diff:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Telegram.apk
          path: official
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Telegram-${{ env.COMMIT }}.apk
          path: build
      - name: apkdiff
        run: |
          curl https://raw.githubusercontent.com/DrKLO/Telegram/refs/heads/master/apkdiff.py -o apkdiff.py
          output=$(python apkdiff.py ./official/Telegram.apk ./build/app.apk)
          echo "$output"
          echo "$output" | grep -F "APKs are the same"
