name: Threema-Android

on:
  push:
    paths:
      - ".github/workflows/Threema-Android.yml"

env:
  COMMIT: 9bb7408fe35e0729e837eadd0d16f9ff6645d160
  # https://shop.threema.ch/fr/download
  OFFICIAL_APK: https://filebin.net/pkcxfa2ud6fmieul/Threema-6.2.1-1098.apk.filebin
  OFFICIAL_SHA256: 86fde1cbb54cf140eda9f73f4ec804fbc1d65b3d59bee7b87b381243483d5abf

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Official
        run: |
          curl -L "${{ env.OFFICIAL_APK }}" -o Threema.apk
          echo "$OFFICIAL_SHA256  Threema.apk" | sha256sum -c -
      - name: Dockerfile
        run: |
          git clone https://github.com/threema-ch/threema-android
          cd threema-android
          git checkout ${{ env.COMMIT }}
          export CODE=$(grep "val defaultVersionCode = " "./app/build.gradle.kts" | cut -d= -f2 | xargs)
          export VERSION=$(grep "val appVersion = " "./app/build.gradle.kts" | cut -d= -f2 | xargs)
          export RUST_VERSION=$(grep "channel = " "./domain/libthreema/rust-toolchain.toml" | cut -d= -f2 | xargs)
          echo "CODE=$CODE" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          cd scripts
          docker build --build-arg RUST_VERSION=$RUST_VERSION -t docker.io/threema/android-compile:$CODE .
      - name: Build
        run: |
          ./threema-android/scripts/build-release.sh -v threemashop_private --no-image-export --i-accept-the-android-sdk-license
          ls -Rlsah threema-android/release
      - name: Apkdiff
        run: |
          ./threema-android/scripts/verify-build.sh -n "$VERSION-$CODE" -v threemashop_private -p Threema.apk
      - name: Signal Apkdiff
        run: |
          pip install uv
          git clone https://github.com/signalapp/Signal-Android --depth 1
          cd Signal-Android/reproducible-builds/apkdiff
          uv sync
          zip -d ../../../Threema.apk "META-INF/*"
          zip -d ../../../threema-android/release/$VERSION-$CODE/threemashop_private/app-store_threema-universal-release-unsigned.apk "META-INF/*"
          uv run apkdiff.py ../../../Threema.apk ../../../threema-android/release/$VERSION-$CODE/threemashop_private/app-store_threema-universal-release-unsigned.apk
